#main {
  flex: 0px; /* This flex-basis component requires a unit. */
  flex: 1 1 0px; /* Not ambiguous without the unit, but needed in IE11. */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

div.mainChild {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
}

div.profile-form {
  padding: 5em;
}
